<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ConcernMapper" >
  <resultMap id="BaseResultMap" type="com.greatwall.ideas.dto.Concern" >
    <id column="CONCERN_ID" property="concernId" jdbcType="INTEGER" />
    <result column="CONCERN_TYPE" property="concernType" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="TARGET_ID" property="targetId" jdbcType="INTEGER" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CONCERN_ID, CONCERN_TYPE, USER_ID, TARGET_ID, PHONE, USER_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_concern
    where CONCERN_ID = #{concernId,jdbcType=INTEGER}
  </select>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.greatwall.ideas.dto.Concern" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_concern
    <where>
    	<if test="concernId != null" >
    		CONCERN_ID = #{concernId,jdbcType=INTEGER}
    	</if>
    	<if test="userId != null" >
    		USER_ID = #{userId,jdbcType=INTEGER}
    	</if>
    	<if test="targetId != null" >
    		TARGET_ID = #{targetId,jdbcType=INTEGER}
    	</if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_cyb_concern
    where CONCERN_ID = #{concernId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.greatwall.ideas.dto.Concern" >
    insert into td_cyb_concern (CONCERN_ID, CONCERN_TYPE, USER_ID, 
      TARGET_ID, PHONE, USER_NAME
      )
    values (#{concernId,jdbcType=INTEGER}, #{concernType,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{targetId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.greatwall.ideas.dto.Concern" >
    insert into td_cyb_concern
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="concernId != null" >
        CONCERN_ID,
      </if>
      <if test="concernType != null" >
        CONCERN_TYPE,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="targetId != null" >
        TARGET_ID,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="concernId != null" >
        #{concernId,jdbcType=INTEGER},
      </if>
      <if test="concernType != null" >
        #{concernType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.greatwall.ideas.dto.Concern" >
    update td_cyb_concern
    <set >
      <if test="concernType != null" >
        CONCERN_TYPE = #{concernType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        TARGET_ID = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where CONCERN_ID = #{concernId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.greatwall.ideas.dto.Concern" >
    update td_cyb_concern
    set CONCERN_TYPE = #{concernType,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=INTEGER},
      TARGET_ID = #{targetId,jdbcType=INTEGER},
      PHONE = #{phone,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR}
    where CONCERN_ID = #{concernId,jdbcType=INTEGER}
  </update>
</mapper>