<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="EventsMapper" >
  <resultMap id="BaseResultMap" type="com.greatwall.ideas.dto.Events" >
    <id column="EVENT_ID" property="eventId" jdbcType="INTEGER" />
    <result column="EVENT_NAME" property="eventName" jdbcType="VARCHAR" />
    <result column="EVENT_DES" property="eventDes" jdbcType="VARCHAR" />
    <result column="EVENT_TYPE" property="eventType" jdbcType="VARCHAR" />
    <result column="EVENT_TIME" property="eventTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EFFECTIVE_TIME" property="effectiveTime" jdbcType="TIMESTAMP" />
    <result column="EVENT_ADDRESS" property="eventAddress" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="EVENT_TEL" property="eventTel" jdbcType="VARCHAR" />
    <result column="EVENT_COST" property="eventCost" jdbcType="DOUBLE" />
    <result column="AUTH" property="auth" jdbcType="VARCHAR" />
    <result column="ENABLE" property="enable" jdbcType="VARCHAR" />
    <result column="EVENT_IMG" property="eventImg" jdbcType="VARCHAR" />
    <result column="CONCERN_COUNT" property="concernCount" jdbcType="INTEGER" />
    <result column="COMMENT_LEVEL" property="commentLevel" jdbcType="INTEGER" />
    <result column="HITS" property="hits" jdbcType="INTEGER" />
    <result column="PROVIDER" property="provider" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EVENT_ID, EVENT_NAME, EVENT_DES, EVENT_TYPE, EVENT_TIME, CREATE_TIME, EFFECTIVE_TIME, 
    EVENT_ADDRESS, USER_ID, EVENT_TEL, EVENT_COST, AUTH, ENABLE, EVENT_IMG, CONCERN_COUNT, 
    COMMENT_LEVEL, HITS, PROVIDER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_events
    where EVENT_ID = #{eventId,jdbcType=INTEGER}
  </select>
   <select id="selectPage" resultMap="BaseResultMap" parameterType="com.greatwall.ideas.dto.Events" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_events
    <where>
    	<if test="eventId != null" >
        	EVENT_ID = #{eventId,jdbcType=INTEGER}
      	</if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_cyb_events
    where EVENT_ID = #{eventId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.greatwall.ideas.dto.Events" >
    insert into td_cyb_events (EVENT_ID, EVENT_NAME, EVENT_DES, 
      EVENT_TYPE, EVENT_TIME, CREATE_TIME, 
      EFFECTIVE_TIME, EVENT_ADDRESS, USER_ID, 
      EVENT_TEL, EVENT_COST, AUTH, 
      ENABLE, EVENT_IMG, CONCERN_COUNT, 
      COMMENT_LEVEL, HITS, PROVIDER
      )
    values (#{eventId,jdbcType=INTEGER}, #{eventName,jdbcType=VARCHAR}, #{eventDes,jdbcType=VARCHAR}, 
      #{eventType,jdbcType=VARCHAR}, #{eventTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{effectiveTime,jdbcType=TIMESTAMP}, #{eventAddress,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{eventTel,jdbcType=VARCHAR}, #{eventCost,jdbcType=DOUBLE}, #{auth,jdbcType=VARCHAR}, 
      #{enable,jdbcType=VARCHAR}, #{eventImg,jdbcType=VARCHAR}, #{concernCount,jdbcType=INTEGER}, 
      #{commentLevel,jdbcType=INTEGER}, #{hits,jdbcType=INTEGER}, #{provider,jdbcType=VARCHAR}
      )
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.greatwall.ideas.dto.Events" >
    update td_cyb_events
    <set >
      <if test="eventName != null" >
        EVENT_NAME = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="eventDes != null" >
        EVENT_DES = #{eventDes,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null" >
        EVENT_TYPE = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventTime != null" >
        EVENT_TIME = #{eventTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTime != null" >
        EFFECTIVE_TIME = #{effectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventAddress != null" >
        EVENT_ADDRESS = #{eventAddress,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="eventTel != null" >
        EVENT_TEL = #{eventTel,jdbcType=VARCHAR},
      </if>
      <if test="eventCost != null" >
        EVENT_COST = #{eventCost,jdbcType=DOUBLE},
      </if>
      <if test="auth != null" >
        AUTH = #{auth,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        ENABLE = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="eventImg != null" >
        EVENT_IMG = #{eventImg,jdbcType=VARCHAR},
      </if>
      <if test="concernCount != null" >
        CONCERN_COUNT = #{concernCount,jdbcType=INTEGER},
      </if>
      <if test="commentLevel != null" >
        COMMENT_LEVEL = #{commentLevel,jdbcType=INTEGER},
      </if>
      <if test="hits != null" >
        HITS = #{hits,jdbcType=INTEGER},
      </if>
      <if test="provider != null" >
        PROVIDER = #{provider,jdbcType=VARCHAR},
      </if>
    </set>
    where EVENT_ID = #{eventId,jdbcType=INTEGER}
  </update>
 
</mapper>