<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PubinfoMapper" >
  <resultMap id="BaseResultMap" type="com.greatwall.ideas.dto.Pubinfo" >
    <id column="INFO_ID" property="infoId" jdbcType="INTEGER" />
    <result column="NOTICE_STR" property="noticeStr" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="VALUE_KEY" property="valueKey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    INFO_ID, NOTICE_STR, TYPE, VALUE_KEY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_pubinfo
    where INFO_ID = #{infoId,jdbcType=INTEGER}
  </select>
  
  <select id="select" resultMap="BaseResultMap" parameterType="com.greatwall.ideas.dto.Concern" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_pubinfo
    <where>
    	<if test="type != null" >
    		TYPE = #{type,jdbcType=VARCHAR}
    	</if>
    	<if test="valueKey != null" >
    		VALUE_KEY = #{valueKey,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  
   <select id="selectPage" resultMap="BaseResultMap" parameterType="com.greatwall.ideas.dto.Concern" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_pubinfo
    <where>
    	<if test="type != null and type != ''" >
    		TYPE = #{type,jdbcType=VARCHAR}
    	</if>
    	<if test="valueKey != null and valueKey != ''" >
    		VALUE_KEY = #{valueKey,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_cyb_pubinfo
    where INFO_ID = #{infoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.greatwall.ideas.dto.Pubinfo" >
    insert into td_cyb_pubinfo ( NOTICE_STR, TYPE, 
      VALUE_KEY)
    values ( #{noticeStr,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{valueKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.greatwall.ideas.dto.Pubinfo" >
    insert into td_cyb_pubinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        INFO_ID,
      </if>
      <if test="noticeStr != null" >
        NOTICE_STR,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="valueKey != null" >
        VALUE_KEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        #{infoId,jdbcType=INTEGER},
      </if>
      <if test="noticeStr != null" >
        #{noticeStr,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="valueKey != null" >
        #{valueKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.greatwall.ideas.dto.Pubinfo" >
    update td_cyb_pubinfo
    <set >
      <if test="noticeStr != null" >
        NOTICE_STR = #{noticeStr,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="valueKey != null" >
        VALUE_KEY = #{valueKey,jdbcType=VARCHAR},
      </if>
    </set>
    where INFO_ID = #{infoId,jdbcType=INTEGER}
  </update>
 
</mapper>