<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TalentMapper" >
  <resultMap id="BaseResultMap" type="com.greatwall.ideas.dto.Talent" >
     <id column="TALENT_ID" property="talentId" jdbcType="INTEGER" />
    <result column="TALENT_NAME" property="talentName" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="TALENT_IMG" property="talentImg" jdbcType="VARCHAR" />
    <result column="GOAL" property="goal" jdbcType="VARCHAR" />
    <result column="WORK_AREA" property="workArea" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="INTRO" property="intro" jdbcType="VARCHAR" />
    <result column="ENTREPRENEURSHIP" property="entrepreneurship" jdbcType="VARCHAR" />
    <result column="TALENT_MONEY" property="talentMoney" jdbcType="VARCHAR" />
    <result column="EXPECTED_SALARY" property="expectedSalary" jdbcType="VARCHAR" />
    <result column="GOOD_AT" property="goodAt" jdbcType="VARCHAR" />
    <result column="WORK_EXPERIENCE" property="workExperience" jdbcType="VARCHAR" />
    <result column="EDUCATIONAL" property="educational" jdbcType="VARCHAR" />
    <result column="TARGET_TYPE" property="targetType" jdbcType="VARCHAR" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="HITS" property="hits" jdbcType="INTEGER" />
    <result column="CONCERN_COUNT" property="concernCount" jdbcType="INTEGER" />
    </resultMap>
  <sql id="Base_Column_List" >
    TALENT_ID, TALENT_NAME, NICKNAME, USER_ID, TALENT_IMG, GOAL, WORK_AREA, SEX, PHONE, 
    INTRO, ENTREPRENEURSHIP, TALENT_MONEY, EXPECTED_SALARY, GOOD_AT, WORK_EXPERIENCE, 
    EDUCATIONAL, TARGET_TYPE, LAST_UPDATE_TIME, CREATE_TIME, HITS, CONCERN_COUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_talent
    where TALENT_ID = #{talentId,jdbcType=INTEGER}
  </select>
   <select id="selectPage" resultMap="BaseResultMap" parameterType="com.greatwall.ideas.dto.Talent" >
    select 
    <include refid="Base_Column_List" />
    from td_cyb_talent
    <where>
    	<if test="talentId != null">
    		TALENT_ID = #{talentId,jdbcType=INTEGER}
    	</if>
    	<if test="goal != null and goal != ''">
    		and GOAL = #{goal,jdbcType=VARCHAR}
    	</if>
    	<if test="workArea != null and workArea !='' ">
    		and WORK_AREA like #{workArea,jdbcType=VARCHAR}
    	</if>
    </where>
    	<if test="sort != null and sort != '' ">
    	order by ${sort} DESC
    	</if>
  </select>
  
    <update id="addConcernCount" parameterType="java.lang.Integer" >
   	update td_cyb_talent set CONCERN_COUNT = CONCERN_COUNT + 1 
	where TALENT_ID = #{talentId,jdbcType=INTEGER}
   </update>
   
    <update id="subConcernCount" parameterType="java.lang.Integer" >
   	update td_cyb_talent set CONCERN_COUNT = CONCERN_COUNT - 1 
	where TALENT_ID = #{talentId,jdbcType=INTEGER}
   </update>
   
   <update id="addHits" parameterType="java.lang.Integer" >
   	update td_cyb_talent set hits = hits + 1 
	where TALENT_ID = #{talentId,jdbcType=INTEGER}
   </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_cyb_talent
    where TALENT_ID = #{talentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.greatwall.ideas.dto.Talent" >
    insert into td_cyb_talent (TALENT_ID, TALENT_NAME, NICKNAME, 
      USER_ID, TALENT_IMG, GOAL, 
      WORK_AREA, SEX, PHONE, 
      INTRO, ENTREPRENEURSHIP, TALENT_MONEY, 
      EXPECTED_SALARY, GOOD_AT, WORK_EXPERIENCE, 
      EDUCATIONAL, TARGET_TYPE, LAST_UPDATE_TIME, 
      CREATE_TIME, HITS, CONCERN_COUNT
      )
    values (#{talentId,jdbcType=INTEGER}, #{talentName,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{talentImg,jdbcType=VARCHAR}, #{goal,jdbcType=VARCHAR}, 
      #{workArea,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{entrepreneurship,jdbcType=VARCHAR}, #{talentMoney,jdbcType=VARCHAR}, 
      #{expectedSalary,jdbcType=VARCHAR}, #{goodAt,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR}, 
      #{educational,jdbcType=VARCHAR}, #{targetType,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{hits,jdbcType=INTEGER}, #{concernCount,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.greatwall.ideas.dto.Talent" >
    update td_cyb_talent
      <set >
      <if test="talentName != null" >
        TALENT_NAME = #{talentName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="talentImg != null" >
        TALENT_IMG = #{talentImg,jdbcType=VARCHAR},
      </if>
      <if test="goal != null" >
        GOAL = #{goal,jdbcType=VARCHAR},
      </if>
      <if test="workArea != null" >
        WORK_AREA = #{workArea,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        INTRO = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="entrepreneurship != null" >
        ENTREPRENEURSHIP = #{entrepreneurship,jdbcType=VARCHAR},
      </if>
      <if test="talentMoney != null" >
        TALENT_MONEY = #{talentMoney,jdbcType=VARCHAR},
      </if>
      <if test="expectedSalary != null" >
        EXPECTED_SALARY = #{expectedSalary,jdbcType=VARCHAR},
      </if>
      <if test="goodAt != null" >
        GOOD_AT = #{goodAt,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null" >
        WORK_EXPERIENCE = #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="educational != null" >
        EDUCATIONAL = #{educational,jdbcType=VARCHAR},
      </if>
      <if test="targetType != null" >
        TARGET_TYPE = #{targetType,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hits != null" >
        HITS = #{hits,jdbcType=INTEGER},
      </if>
      <if test="concernCount != null" >
        CONCERN_COUNT = #{concernCount,jdbcType=INTEGER},
      </if>
    </set>
    where TALENT_ID = #{talentId,jdbcType=INTEGER}
  </update>
  
</mapper>