<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserMapper" >
  <resultMap id="BaseResultMap" type="com.greatwall.platform.system.dto.User" >
    <id column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PAS" property="userPas" jdbcType="VARCHAR" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_ADDRESS" property="userAddress" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="EFFECTIVE_TIME" property="effectiveTime" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="USER_TYPE" property="userType" jdbcType="INTEGER" />
    <result column="SESSION_KEY" property="sessionKey" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, LOGIN_NAME, USER_NAME, USER_PAS, USER_EMAIL, USER_ADDRESS, CREATE_TIME, 
    EFFECTIVE_TIME, LAST_LOGIN_TIME, USER_TYPE, SESSION_KEY, REMARK, VERSION
  </sql>
  
  <sql id="userWhere">
		<where>
			<if test="userId != null">
				AND USER_ID = #{userId,jdbcType=INTEGER}
			</if>
			<if test="loginName != null and loginName != '' ">
				AND LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
			</if>
			<if test="userName != null">
				AND USER_NAME = #{userName,jdbcType=VARCHAR}
			</if>
			<if test="userPas != null">
				AND USER_PAS = #{userPas,jdbcType=VARCHAR}
			</if>
			<if test="userEmail != null">
				AND USER_EMAIL = #{userEmail,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="effectiveTime != null">
				AND EFFECTIVE_TIME =
				#{effectiveTime,jdbcType=TIMESTAMP}
			</if>
			<if test="userType != null">
				AND USER_TYPE = #{userType,jdbcType=INTEGER}
			</if>
			<if test="lastLoginTime != null">
				AND LAST_LOGIN_TIME =
				#{lastLoginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="sessionKey != null">
				AND SESSION_KEY = #{sessionKey,jdbcType=VARCHAR}
			</if>
			<if test="userAddress != null">
				AND USER_ADDRESS = #{userAddress,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
  
  <select id="selectByQueryPage" parameterType="com.greatwall.platform.system.dto.User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from td_sm_user
		<include refid="userWhere" />
	</select>

	<select id="getUser" parameterType="com.greatwall.platform.system.dto.User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from td_sm_user
		<where>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=INTEGER}
			</if>
			<if test="loginName != null and loginName != '' ">
				OR LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="searchUsersPage" parameterType="com.greatwall.platform.system.dto.User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from td_sm_user
		<where>
			<if test="loginName != null and loginName != '' ">
				OR LOGIN_NAME like #{loginName,jdbcType=VARCHAR}
			</if>
			<if test="parentId != null">
				AND PARENT_ID = #{parentId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_sm_user
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_sm_user
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.greatwall.platform.system.dto.User" >
    insert into td_sm_user (LOGIN_NAME, USER_NAME, 
      USER_PAS, USER_EMAIL, USER_ADDRESS, 
      CREATE_TIME, EFFECTIVE_TIME, LAST_LOGIN_TIME, 
      USER_TYPE, SESSION_KEY, REMARK, 
      VERSION)
    values ( #{loginName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPas,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{effectiveTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{userType,jdbcType=INTEGER}, #{sessionKey,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.greatwall.platform.system.dto.User" >
    update td_sm_user
    <set >
      <if test="loginName != null" >
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPas != null" >
        USER_PAS = #{userPas,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTime != null" >
        EFFECTIVE_TIME = #{effectiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null" >
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=INTEGER},
      </if>
      <if test="sessionKey != null" >
        SESSION_KEY = #{sessionKey,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.greatwall.platform.system.dto.User" >
    update td_sm_user
    set LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PAS = #{userPas,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_ADDRESS = #{userAddress,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      EFFECTIVE_TIME = #{effectiveTime,jdbcType=TIMESTAMP},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      USER_TYPE = #{userType,jdbcType=INTEGER},
      SESSION_KEY = #{sessionKey,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=INTEGER}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
</mapper>