/*整体设置*/
html,p,a,h2,h3,b,div,input,span{font-family: "Microsoft YaHei"}
html { height:100%;}
body { min-height: 100%; background-color: #f3f3f3; }
.clear { height: 0; font-size: 0; line-height: 0; clear: both; }
img { max-width: 100%; }
ul{list-style: none;margin:0;padding:0}
li,h2,p{margin:0;padding:0}
p{font-size:0.9rem;color:#666;text-align: justify;}
h2{font-size:1rem;color:#333;font-weight: normal;}
h3{font-size:0.9rem;color:#999;font-weight: normal;}
a{text-decoration:none;color:#333;}
.hidden{display: none;}
.show{display: inline-block;}
b{font-weight: normal;}
/* 框架设置 */
#header { min-width: 320px; }
#container { min-width: 320px;}
#footer { min-width: 320px; }
.ui-body-f{min-width: 320px; height: 100%;}
/*头部设置*/
.ui-bar-f{width: 100%;overflow: hidden;border: none;}
.logo-bar{background-color: rgba(0,0,0,0.5);height:2.5rem;width:100%;
    position: fixed;top:0;z-index: 100}
.logo-bar .logo{float: left;margin:0.75rem;}
.logo-bar .logo img{height:1rem;}
.logo-bar .admin img{height: 1.2rem}
.logo-bar .admin{float:right;margin:0.75rem;}
/*焦点轮播图*/
.swiper-container{width:100%;}
.swiper-wrapper img{width:100%;}
.swiper-slide{width:100%}
.swiper-pagination-bullet { opacity:0.4; background: none; border:1.5px solid #ffffff;width:0.3rem;height:0.3rem;}
.swiper-pagination-bullet-active { opacity: 1; background-color: #fff; }
/*主体部分*/
.ui-content-f{border: none;margin-top:-4px;}
.content-item{width:100%;overflow: hidden;background: #ffffff;}
.content-item h2{font-size:0.9rem;}
.content-item ul{overflow: hidden;margin:0px auto;width: 90%;margin-top:0.4rem;}
.content-item ul li{float:left;width:25%;text-align: center;margin:0.5rem 0px}
.content-item ul li img{width:3.5rem;}
.ui-content{padding: 0rem}

.business-title{width:100%;margin:0.8rem 0 0 0;}
.business-title span{display: inline-block;width:0.5rem;height: 0.5rem;background:#5cce49;margin-left:0.75rem;vertical-align: middle}
.business-title h2{display: inline-block; color:#5cce49;font-size: 0.9rem;}

.business-content{width: 90%;margin:0px auto;}
.business-content ul{overflow: hidden;width:100%;}
.business-content ul li{float: left;width:47%;height:10rem;background: #ffffff;text-align: center;margin:1%;border:1px solid #dddddd;}
.business-content ul li img{width: 3rem;margin-top:1rem;}
.business-content ul li h2{color:#333333;line-height: 1.2rem;font-weight: bold;font-size:0.9rem;}
.business-content ul li p{font-size: 0.6rem; margin:0.4rem 0;color:#999999;text-align: center;}
.business-content ul li span{color:#5cce49;}

/*底部信息*/
.ui-footer-f{border: none;text-align: center;margin:0.8rem 0;}
.ui-footer-f p{margin:0;font-size: 0.7rem;color:#999999;}


/*login页面样式*/
.login-content,.changepassword-content{width: 100%;border-top:1px solid #bbb;border-bottom: 1px solid #bbb;margin:1.2rem 0 2rem 0;background: #ffffff;}
.ui-content-f2{text-align: center}
.ui-content-f2 ul{padding-left:0.75rem;}
.ui-content-f2 ul li{width: 100%;line-height: 3rem;padding-left:2rem;}
.ui-content-f2 ul li:first-child{border-bottom: 1px solid #ddd;background: url("../img/icon_phonenumber.png")left center no-repeat;background-size: 1.5rem;}
.ui-content-f2 ul li:last-child{background: url("../img/icon_repassword.png")left center no-repeat;background-size: 1.5rem;}
.ui-content-f2 ul .password-box{border-bottom: 1px solid #ddd;background: url("../img/icon_password2.png")left center no-repeat;background-size: 1.5rem;}
.ui-content-f2 ul li input{outline:none;border:none;border-shadow:none;width:100%;}
.btn-login,.btn-regist,.btn-changeNum{display:block;width:70%;height:2.8rem;background: #5cce49; border:none;color:#fff;margin:2rem auto;}
.forget-password{color:#666666;text-align: center;font-size: 0.9rem}
.ui-footer-f2{position: absolute;left:0;bottom:0;margin-bottom: 2rem;}
.login-line{margin:1.5rem 0;width: 80%; margin: 0 auto;}
.btn-regist,.btn-changeNum{margin-bottom: 0.8rem;}
.regist-item{font-size:0.7rem;color:#666666;font-family: "Microsoft YaHei"}
.error{width: 40%;height:2rem;line-height:2rem;background: rgba(0,0,0,0.7);border-radius: 2px;position: absolute;color:#fff; font-size: 0.8rem;top:3rem;left:32%;}
.error p{text-align: center;color:#fff;}

/*****个人中心*****/
.pcenter-header{width: 100%;text-align:center;}
.pcenter-header p{margin:0.3rem 0;}
.pcenter-pic{width: 7rem;height:5.5rem;margin:0px auto;background: url("../img/icon_head.png")top center no-repeat;background-size: 5.5rem;margin-top:1.2rem;}
.pcenter-pic img{width:2.3rem;margin-top:3rem;margin-left:4rem;}
#pcenter-tel{text-align: center;}
.ui-content-f3{width: 100%;margin-top:0.3rem;}
.ui-content-f3 li{margin:0.3rem 0;height: 3rem;line-height: 3rem;padding:0 1rem 0 4rem;}
.pcenter-tietm-bg1{background: url("../img/icon_collection.png")1rem center no-repeat #ffffff;background-size: 2rem;}
.pcenter-tietm-bg2{background: url("../img/icon_subscribe.png")1rem center no-repeat #ffffff;background-size: 2rem;}
.pcenter-tietm-bg3{background: url("../img/icon_active.png")1rem center no-repeat #ffffff;background-size: 2rem;}
.pcenter-tietm-bg4{background: url("../img/icon_complain.png")1rem center no-repeat #ffffff;background-size: 2rem;}
.pcenter-tietm-bg5{background: url("../img/icon_policy.png")1rem center no-repeat #ffffff;background-size: 2rem;}
.pcenter-tietm-bg6{background: url("../img/icon_modify.png")1rem center no-repeat #ffffff;background-size: 2rem;}
.ui-content-f3 li a{color:#666;width:100%;overflow: hidden;display: inline-block;}
.ui-content-f3 li span {float:right;width:1rem;height: 3rem;background: url("../img/icon_arrow_gray.png")center no-repeat;background-size: 0.9rem;}
.pcenter-footer{position:absolute;bottom: 0;}

/*我的收藏*/
.ui-content-f4{min-width: 320px;}
.ui-content-f4>ul>li,.pcenter-ac-content ul li{width: 100%;background:#fff;margin:0.5rem 0;padding:0.5rem;overflow: hidden;}
.pcenter-collection-left,.act-item-left{float:left;width:25%;height: 100%;}
.ui-content-f4>ul li img,.act-item-left img{width: 5rem;}
.pcenter-collection-right,.act-item-right{float:right;width:68%;margin-right:1rem;}
.pcenter-collection-right h2,.pcenter-collection-right>p,.act-item-right>h2{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.pcenter-collection-right h2{display: inline-block;font-size: 1rem;color:#333;width:80%;}
.pcenter-collection-right>p{color:#aaa;font-size: 0.9rem;margin:0.3rem 0;}
.pcenter-count{overflow: hidden}
.pcenter-count span,.pcenter-location,.pcenter-date{height: 1rem;font-size:0.8rem;color:#aaa;}
.pcenter-count span{margin-right:0.5rem;float:left;}
.pcenter-location{float:left;padding-left:1.3rem;background: url("../img/icon_location.png")left center no-repeat;background-size:1rem;}
.pcenter-date{float:right;}
.icon-state{float:right;border:1px solid #aaa;width:2.5rem;height:1rem;line-height:1rem;font-size:0.6rem;text-align: center;color:#aaa;border-radius: 0.5rem;}
.location-date{overflow: hidden;margin-top:0.3rem;}
.item-descripe{width: 100%;height: 2rem;font-size: 0.9rem;margin-top:0.5rem;}

/*新增部分*/
.penter-item-bg{width:100%;height:100%;position:fixed;top:2.6rem;left:0;background: rgba(0,0,0,0.6)}
.ui-header-pcenter{width:100%;background: #fff;height:2.5rem; }
.ui-header-pcenter>div:first-child{position: fixed;top:0;left:0;width:100%;text-align: center;height: 2.5rem;line-height: 2.5rem;border-bottom: 1px solid #bbb;background: url("../img/icon_arrow_down.png")95% center no-repeat;background-size: 1rem;}
.pcenter-item{width:100%;background: #fff;padding-bottom: 0.5rem;}
.pcenter-item>li{text-align: center;padding:0.8rem 0;border-bottom: 1px solid #bbb;color:#666;font-size:0.9rem;}
.pcenter-item-active{background: #5cce49;border-bottom: 1px solid #5cce49;color:#fff!important;}

/*我的活动*/
.pecenter-ac-header{width:100%;height: 2.5rem;background: #fff;}
.pecenter-ac-header ul li{float:left;width:49%;height:2.4rem;line-height:2.5rem;text-align: center;color:#666;cursor: pointer;}
.pecenter-ac-header ul span{float:left;height:1.5rem;border-left:1px solid #d1ccca;margin-top:0.5rem;}
.activity-active{border-bottom: 1px solid #5cce49}
.act-item-left{text-align: center}
.act-item-right h2{font-size: 1rem;color:#333;}
.act-item-right .trcost{margin-top: 0.3rem;font-size: 0.8rem;}
.trcost>b{font-weight: normal}
.trcost>span{color:#fd0606}
.act-item-box{margin:0.5rem 0;border-bottom: 1px solid #ddd;height:2.5rem;}
.act-item-box>p{font-size: 0.9rem;color:#666;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.act-item-left>span{display: block;font-size: 0.9rem;color:#fd0606;}
.act-item-box2{float:right;font-size: 0.9rem;color:#aaa;}
.act-item-left>p,.act-item-right>p{font-size:0.8rem;color:#666;}
.act-item-right>p{margin-top:0.5rem;border-bottom: 1px solid #ddd;color:#aaa;}

/*平台投诉*/
.conplaint-text-area{width:100%;height:15rem;border:none;}
.complaint-form button{display:block;width:70%;height:2.5rem;margin:30px auto;background:#5cce49;border:none;color:#fff;}
.word-limit{position: fixed;top:13.5rem;right:0.5rem;color:#999;}

/*平台政策*/
.plolicy-content{width:100%;min-height:15rem;background: #fff;padding: 0.5rem;}
.plolicy-content h2{font-size: 1rem;height:1.5rem;color:#5cce49;border-bottom: 1px solid #ddd;margin-right: 1rem;margin-top:0.5rem;}
#pcenter-policy h3{font-size: 0.9rem;font-weight: normal;color:#666;background: #fff;margin:0;padding-left:0.5rem;height:2rem;}
.ui-content-f5 ul{padding-left:0.75rem;}
.ui-content-f5 ul li{width: 100%;line-height: 3rem;padding-left:2rem;}
.ui-content-f5 ul li input{outline:none;border:none;border-shadow:none;width:100%;}
.newpassword2{border-top:1px solid #ddd;border-bottom: 1px solid #ddd;background: url("../img/icon_password2.png")left center no-repeat;background-size: 1.5rem;}
.changepassword-content li:first-child{background: url("../img/icon_oldpassword.png")left center no-repeat;background-size: 1.5rem;}
.changepassword-content li:last-child{background: url("../img/icon_repassword.png")left center no-repeat;background-size: 1.5rem;}


/*活动详情*/
.details-title,.ac-transition,.ac-process,.ac-guest{width: 99%;background: #fff;overflow: hidden;margin-bottom: 0.5rem;}
.details-title ul{border-bottom:1px solid #ddd;padding-bottom: 0.5rem;margin-top:0.6rem;}
.details-title ul li{overflow: hidden;margin:0.3rem 0;}
.details-title ul h3,.details-title ul p{float:left;margin:0;}
.details-title ul h3{width: 22%;}
.details-title ul p{font-size:0.9rem;color:#666;width:76%;text-align: justify;}
.details-innerbox,.incubator-innerbox{margin:0.5rem 1rem;overflow: hidden;}

.registration-number,.collection-number,.ac-process{font-size: 0.8rem;color:#aaa;margin-top:0.3rem;}
.registration-number{float:left;}
.collection-number{float:right;}
.ac-transition h2,.ac-guest h2,.ac-process h2{border-bottom: 1px solid #ddd;}
.ac-transition p,.ac-guest p,.ac-process p{text-align: justify;margin-top:0.5rem;marin-right:0.5rem;}
.ac-details-footer{position: fixed;bottom:0px;}
.ac-details-footer{overflow: hidden;height: 3rem;line-height:3rem;background: #f3f3f3;border-top:1px solid #bbb;}
.telnumber{float:left;margin-left:0.5rem;font-size: 0.9rem;}
.ac-details-footer button{float:right;width:5rem;height:2rem;background: #5cce49;border:none;color:#fff;margin:0.5rem;}
.ac-guest{margin-bottom: 3rem;}
.ac-mask{background:rgba(0,0,0,0.6);position:fixed;width:100%;min-width:320px;height: 100%;top:0;left:0;z-index: 1000;}
.ac-mask-inner{width:80%;height:15rem;background:#fff;margin:5rem auto;position: relative;text-align: center;}
.ac-mask-inner h2{height: 3rem;line-height: 3rem;}
.ac-registration input{background: #f3f3f3;border: none;width: 80%;height:1.5rem;margin:0.5rem 0;padding:0.5rem;}
.registration{width:60%;height: 2.5rem;border:none;background: #5cce49;color:#fff;margin-top:0.8rem;}
.mask-close{width:1.5rem;position: absolute;top:-2rem;right:0;}
.mask-close img{width:100%;}

/*孵化器*/
.incubator-content ul li,.project-content>ul>li,.talent-content>ul>li{width:100%;background: #fff;padding:0.1rem 0;margin-bottom:0.5rem;}
.incubator-left,.project-left,.talent-left{float:left;width:22%}
.incubator-innerbox img{width: 5rem;}
.incubator-right,.project-right,.talent-right{float:right;width:76%;}
.incubator-right>h2,.project-right>h2{text-overflow: ellipsis;white-space: nowrap!important;overflow: hidden;}
.incubator-right>p{overflow: hidden;margin:0.4rem 0;text-align: right}
.incubator-right>div span,.incubator-right>p,.incubator-title,.project-right>div>span,.talent-right>div>span{font-size:0.7rem;color:#999;}

.incubator-right>div span:first-child,.project-right>div span:first-child{float:left;}
.incubator-right>div span:last-child,.project-right>div span:last-child{float:right;}
.incubator-right>div span:first-child,.project-right>div span:first-child,.talent-right>div span:first-child{padding-left:1.2rem;background: url("../img/icon_location.png")left center no-repeat;background-size:0.9rem;}
.incubator-det-header>h2{width: 100%;}
.incubator-det-header{background: #fff;padding-bottom: 0.1rem;}
.incubator-title>div{margin:0.4rem 0;}
.incubator-title>div span{display:inline-block;}
.incubator-title>div span:first-child{float: left;width:25%;padding-left:1.2rem;background: url("../img/icon_location.png")left center no-repeat;background-size:1rem;}
.incubator-title>div span:last-child{float: right;width:35%;text-align: right}
.pageview{position:absolute;width:30%}
.incubator-det-item{width: 100%;background: #fff;padding-bottom: 0.1rem;}
.incubator-det-item>div h3{height:1.5rem;border-bottom: 1px solid #ddd;color:#333;}
.incubator-concat{font-size: 0.9rem;color:#666}
.incubator-det-footer ul li{width: 49%;float:left;text-align: center;font-size:0.9rem;color:#333;}
.incubator-det-footer{width:100%;background: #fff;height:3rem;line-height:3rem;border-top:1px solid #bbb;position: fixed;bottom: 0}
.div-line{float:right;height: 2rem;border-right:1px solid #bbb;margin-top:0.5rem;}
.incubator-det-footer ul li:first-child span{padding-left:1.5rem;background: url("../img/icon_star_pre.png")left center no-repeat;background-size: 1rem;}
.incubator-det-content{margin-bottom: 3.5rem;}

/*找项目---找人才*/
    /*头部样式*/
.project-header,.talent-header{width:100%;height: 2.5rem;line-height:2.5rem;background: #fff;position: fixed;top:0;border-bottom: 1px solid #d1ccca;}
.project-header>ul li,.talent-header>ul li{float:left;width:33%;text-align: center;height: 1.5rem;line-height:1.5rem;margin-top:0.5rem;font-size:0.9rem;color:#333;cursor: pointer}
.project-header>ul li:first-child,.talent-header>ul li:first-child{border-right: 1px solid #d1ccca}
.project-header>ul li:last-child,.talent-header>ul li:last-child{border-left: 1px solid #d1ccca}
.project-header>ul li button,.talent-header>ul li button{width:70%;height:100%;background: #5cce49;border:none;color:#fff;font-size:0.9rem;}

.project-sort,.talent-sort{background: url("../img/icon_arrow_down.png")95% center no-repeat;background-size: 1rem;}
.project-screening,.talent-screening{background: url("../img/icon_arrow_down.png")80% center no-repeat;background-size: 1rem;}
.project-sort-drop,.talent-sort-drop,.project-screen-drop,.talent-screen-drop{width:100%;height:100%;background:rgba(0,0,0,0.5);position: fixed;top:2.6rem;left:0;z-index: 100;overflow: scroll;}

.project-sort-drop ul,.talent-sort-drop ul{background: #fff;margin-bottom: 5rem;overflow: hidden}
.project-sort-drop ul li,.talent-sort-drop ul li{padding-left:1.5rem;font-size:0.9rem;margin:0 0.75rem;cursor: pointer;}
.project-sort-drop ul li span,.talent-sort-drop ul li span{display:none;float:right;width:1rem;height:1rem;background: url("../img/icon_choiced.png")center no-repeat;background-size: 1rem;margin-top:0.5rem;}

.time-sort{border-top:1px solid #ddd;border-bottom:1px solid #ddd;background: url("../img/icon_time_nor.png")left center no-repeat;background-size: 1rem;}
.comprehensive-sort{background: url("../img/icon_reorder_nor.png")left center no-repeat;background-size: 1rem;}
.hot-sort{background: url("../img/icon_evalution_nor.png")left center no-repeat;background-size: 1rem;}

.project-screen-drop>form>ul,.talent-screen-drop>form>ul{background: #f3f3f3;overflow: hidden}
.project-screen-drop>form>ul>li,.talent-screen-drop>form>ul>li{background: #fff;border:1px solid #fff;margin:0.3rem 0;}
.screen-inner{margin:0.5rem 0.75rem;overflow: hidden;}
.screen-inner h2{height: 1.8rem;line-height: 1.8rem;}
.screen-inner ul{overflow: hidden}
.screen-inner ul li{float:left;font-size:0.8rem;width: 20%;height:1.3rem;text-align:center;line-height:1.3rem;color:#333;margin:0.3rem 5% 0.3rem 0;border:1px solid #999;border-radius: 0.65rem;cursor: pointer;}
.screen-inner ul li:last-child{margin-right: 0;}
.location-inner-state{height:4rem;}
.location-inner-state h2{overflow: hidden}
.location-inner-state span{float:right;width:1rem;height:1rem;background:url("../img/icon_arrow_down.png")center no-repeat;background-size: 1rem;margin-top:0.5rem;}
.screen-active{background: #5cce49 !important;border:1px solid #5cce49 !important;color:#fff !important;}
.project-inner-button button,.talent-inner-button button{width:70%;height:2.5rem;background:#5cce49;border: none;color:#fff;}
.project-inner-button,.talent-inner-button{text-align: center}

    /*主体部分样式*/
.project-content,.talent-content{margin-top:3rem;}
.project-label,.talent-label{overflow:hidden;padding-left:1.2rem;background: url("../img/icon_project_tabs.png")left center no-repeat;background-size:0.8rem;width: 100%;}
.project-label ul li,.talent-label ul li{float:left;font-size:0.8rem;color:#999;margin:0.2rem 0.2rem 0 0;cursor: pointer;}
.project-location,.talent-location{overflow: hidden;margin:0.3rem 0;width:100%;clear: both;}
.project-right>p,.talent-right p,.project-right>div>h2{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.project-right>div{overflow: hidden}
.project-right>div>h2{float:left;width:74%;}
.project-state,.talent-state{float:right;width:3rem;height:1.1rem;line-height:1.1rem;text-align:center;border:1px solid #ddd;border-radius: 0.6rem;}
.talent-right>div span:first-child{float:left;}
.talent-right h2{float:left;}


.project-img{width: 5rem;height:5rem;margin:0.5rem auto;margin-top:1rem;}
.project-img img{width:100%;height:100%;}
.submitproject-header>p{text-align: center;font-size: 0.8rem;}

.subcontent-box1{width:100%;margin-top:1rem;background: #fff;border-top:1px solid #fff;overflow: hidden}
.subcontent-box1>ul{margin:0.75rem;}
.subcontent-box1>ul>li{padding:0.5rem 0;border-bottom: 1px solid #bbb;overflow: hidden;min-height:2rem;cursor: pointer;}
.subcontent-box1>ul>li>span{padding:0.2rem 0.5rem 0.2rem 0;float:left;height:2rem;line-height:2rem;font-size:0.9rem;color:#333;}
.subcontent-box1>ul>li>input{padding:0.2rem 1rem 0.2rem 0;float:right;width:68%;font-size: 0.9rem;border:none;margin:0.3rem 0;}
.subcontent-box1>ul>li:last-child{border-bottom:none;}
.right-arrow{background: url("../img/icon_arrow_gray.png")right center no-repeat;background-size: 1rem;}
.subcontent-box1>ul>li div{float:right;font-size:0.9rem;min-height:2rem; line-height:2rem;color:#b6b6b6;width:68%;padding:0.2rem 1rem 0.2rem 0;}
/*项目状态*/
.project-progress-content{width:100%;height:100%;background:rgba(0,0,0,0.6)}
.project-progress,.project-location-select,.project-direction,.project-financing,.project-partner,.talent-location-select{position: fixed;z-index: 100;width:100%;height:100%;background: rgba(0,0,0,0.6);top:0;left:0;}
.project-progress>div,.stock-proportion div{width:80%;background: #fff;margin:5rem auto;text-align: center;}
.project-progress h2,.project-direction h2,.project-financing h2,.stock-proportion h2{height:3rem;line-height: 3rem;text-align: center}
.project-progress ul li{height:3rem;line-height:3rem;border-top:1px solid #bbb;color:#333;cursor: pointer;}
.project-progress-active{background:#5cce49; border-top:1px solid #5cce49 !important;color:#fff !important;}
/*项目地区*/
.project-location-right,.talent-location-right{float:right;width:80%;height: 100%;background: #fff;overflow: scroll}
.project-location-header,.talent-location-header{width:90%;margin:5% auto;overflow: hidden}
.project-location-header span,.talent-location-header span{float:left;font-size: 0.9rem;}
.project-location-header b,.talent-location-header b{float:right;font-size: 0.9rem;}
.location-province{float:left;width:40%;}
.location-province li,.location-city li{height:2rem;line-height:2rem;text-align: center;font-size: 0.9rem;color:#666;}
.location-province li{border-right:1px solid #bbb;border-bottom: 1px solid #bbb;}
.location-province li:first-child{border-top:1px solid #bbb;}
.location-city{float:right;width:60%;}
.location-city li{width:90%;margin:0 auto;border-bottom: 1px solid #bbb;cursor: pointer}
.location-province-active{border-right:none !important;}
.location-city-active{color:#5cce49 !important;}
/*项目方向*/
.project-direction>div,.project-financing>div{ width:85%;background: #fff; margin:3rem auto; overflow: hidden;padding-bottom: 1rem;}
.project-direction ul,.project-financing ul{width:90%;margin:0px auto;overflow: hidden}
.project-direction ul li,.project-financing ul li,.stock-proportion ul li{float:left;width:28%;height:1.3rem;line-height:1.3rem;border:1px solid #999;margin:0.6rem 0.3rem;font-size: 0.8rem;border-radius: 0.65rem;text-align: center;color:#333;}
/*项目简述*/
.project-description,.project-profile,.project-declaration,.project-link,.talent-description{background: #efefef;width:100%;height:100%;position: fixed;top:0;left:100%;text-align: center;}
.project-description textarea,.project-profile textarea,.project-declaration textarea,.project-link textarea,.talent-description textarea{width: 90%;height:13rem;border:none;padding:0.5rem 5%;color:#999;font-size:0.9rem;}
.project-description button,.project-profile button,.project-financing-sure button,.publish-project,.publish-talent,.project-partner-save,.project-declaration button,.project-link button,.talent-description button{width:85%;height:2.3rem;background: #5cce49;  border: none;color:#fff;margin:2rem auto;}
.project-profile p{font-size: 0.7rem;color:#999;margin:0.5rem;}

/*融资状态*/
.project-financing input{width: 40%;height:1rem;margin: 0px auto;border:1px solid #999;border:none;}
.project-financing-turn{border:1px solid #999;width:80%;height:1.5rem;margin:0px auto;padding:0.1rem;}
.project-financing-turn span{float:right;width:28%;font-size: 0.7rem;margin-top:0.2rem;color:#999;padding-right:1rem;background: url("../img/icon_arrow_down.png")right center no-repeat;background-size: 1rem;}
.project-financing-sure{text-align: center;}

/*召唤合伙人*/
.project-partner{background: #efefef;width:100%;height:100%;overflow: scroll;position: fixed;top:0;}
.project-partner>ul{width:100%;}
.project-partner>ul>li{background: #fff;width:100%;border-top:1px solid #fff;border-bottom:1px solid #fff;margin-bottom: 0.5rem;}
.project-partner>ul>li>div{margin:0.5rem auto;width:90%;overflow: hidden;}
.project-partner>ul>li>div>h2{margin:0.3rem 0;}
.project-partner>ul>li>div li{float:left;width:28%;height:1.3rem;line-height:1.3rem;border:1px solid #999;margin:0.6rem 0.3rem;font-size: 0.8rem;border-radius: 0.65rem;text-align: center;color:#333;}
.project-partner-selected li{float:left;width:28%;height:1.2rem;line-height:1.2rem;text-align:center;border:1px solid #5cce49;background:#5cce49;border-radius: 0.6rem;margin:0.2rem;color:#fff;}
.project-alert{position: fixed;z-index: 100;width: 15rem;height: 5rem;line-height: 5rem;text-align: center;background:rgba(0,0,0,0.6);top:10rem; left:13%;color:#fff;}




.stock,.explain{width: 98%;height: 1.8rem;line-height:1.8rem;text-align: center;font-size:0.9rem;color:#333;border:1px solid #bbb;margin:0.5rem 0; text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }
.stock-proportion{position:fixed;width:100%;height:100%;top:0;left:0;background: rgba(0,0,0,0.6);}
.stock-proportion div{border-top:1px solid #fff;border-bottom: 1px solid #fff;overflow: hidden;padding:0.5rem;}
.project-partner-save,.publish-project,.publish-talent{display: block;margin:1rem auto;}
.publish-project>a{display:inline-block;width:100%;height:2.3rem;line-height:2.3rem;color:#fff;}

.project-details-header{width:100%;background: #fff;border:1px solid #fff;overflow: hidden}
.pdh-inner,.pdc-inner{margin:1rem;}
.pdh-inner-title,.pdh-inner-title2,.pdh-inner-title3，.pdh-inner-title4{overflow: hidden;margin:0.5rem 0;}
.pdh-inner-title h2{font-size:1.1rem;color:#333;float:left;font-weight: bold;wdith:75%;}
.pdh-inner-title span{float:right;font-size:0.7rem;width:3.5rem;height:1.1rem;line-height:1.1rem;border:1px solid #666;text-align: center;border-radius: 0.55rem;color:#666;}

.pdh-inner-title2 div,.pdh-inner-title2 span{font-size:0.8rem;color:#aaa;}
.pdh-inner-title2 div{float:left;background: url("../img/icon_location.png")left center no-repeat;background-size: 0.8rem;padding-left:1rem;}
.pdh-inner-title2 span{float:right;}

.pdh-inner,.pdc-inner,.pdh-inner-title3 div,.pdh-inner-title3 span{font-size:0.9rem;color:#666;}
.pdh-inner>p{width:100%;clear: both;font-size:0.9rem;color:#333;margin:0.5rem 0;}
.pdh-inner-title3 div b{color:#f94303;}
.pdh-inner-title4{border-top:1px solid #bbb;padding-top:0.6rem;}
.pdh-inner-title4 h2{font-size:0.9rem;color:#666;}
.pdh-inner-title4 ul li{float:left;width:40%;margin:5%;}
.pdh-inner-title4 ul li h2{width:100%;height:2rem;line-height:2rem;background: #5cce49;text-align: center;color:#fff;font-size:0.9rem;}
.pdh-inner-title4 ul li div{border:1px solid #bbb;}
.pdh-inner-title4 ul li div p{margin:0.3rem;color:#aaa;font-size: 0.8rem;}
.project-details-content{background: #fff;border:1px solid #fff;margin-top:0.5rem;}
.pdc-inner{margin-top:0.5rem;}
.pdc-inner>h2{line-height: 2rem;border-bottom: 1px solid #bbb;color:#666;font-size:0.9rem;}
.pdc-inner>p{margin-top:0.5rem;font-size:0.9rem;color:#333;}
.pdc-inner-publisher h2{padding-left:2rem;background: url("../img/icon_presonalinturduction.png")left center no-repeat;background-size: 1.5rem;}
.pdc-inner-profile h2{padding-left:2rem;background: url("../img/icon_projectintur.png")left center no-repeat;background-size: 1.5rem;}
.pdc-inner-link a{display: block;width:90%;height:2rem;line-height:2rem;border:1px solid #bbb;text-align: center;margin:0.5rem auto;border-radius: 3px;}
.project-details-foot{width:100%;height:3rem;position: fixed;left:0;bottom: 0;background: #fff;border-top:1px solid #bbb;}
.project-details-foot ul{width:90%;margin:0 auto;}
.project-details-foot ul li{float:left;width:49%;height:2rem;margin-top:0.5rem;}
.project-details-foot ul li:first-child{border-right: 1px solid #bbb;}
.project-details-tel span{font-size:0.9rem;}
.project-details-collection{text-align: center;line-height: 2rem;}
.project-details-collection span{padding-left:1.2rem;background: url("../img/icon_star_pre.png")left center no-repeat;background-size: 1rem;}

/*找人才*/
.talent-left>div{width:4rem;height:4rem;border-radius: 4rem;background: url("../img/pcenter-pic-i.jpg")center no-repeat;background-size: 4rem;}
.talent-right>p{margin:0.3rem 0;}
    /*发简历*/
.publish-talent-img{width:5rem;height:5rem;border-radius: 5rem;margin:0.5rem auto;margin-top:1rem;background: url("../img/btn_addpicure.png")center no-repeat;background-size: 5rem;}
        /*个人定位*/
.talent-personal,.talent-sex,.talent-state2,.talent-money,.talent-treatment{width:100%;height:100%;position:fixed;top:0;left:0;background: rgba(0,0,0,0.6)}
.talent-personal>div,.talent-state2>div,.talent-money>div,.talent-treatment>div{width:90%;height:17rem;background:#fff;margin:4rem auto;overflow: scroll;}
.talent-personal>div>h2,.talent-state2>div>h2,.talent-money>div>h2,.talent-treatment>div>h2{text-align: center;height: 3rem;line-height: 3rem;border-bottom: 1px solid #bbb;position:fixed;top:4rem;width:90%;background: #fff;}
.talent-personal>div>ul,.talent-state2>div>ul,.talent-money>div>ul,.talent-treatment>div>ul{margin:4rem 0;}
.talent-personal>div>ul>li,.talent-sex>div>ul>li,.talent-state2>div>ul>li,.talent-money>div>ul>li,.talent-treatment>div>ul>li{height:3rem;line-height:3rem;text-align: center;}
.talent-personal-active{background: #5cce49;color:#fff;}
        /*选择性别*/
.talent-sex>div{width:80%;height:13rem;background:#fff;margin:4rem auto;}
.talent-sex>div>ul{margin:1rem 0;}
.talent-sex>div>h2{text-align: center;height: 3rem;line-height: 3rem;border-bottom: 1px solid #bbb;}


/*个人简历部分*/
.resume-content,.resume-content2{width: 100%;}
.resume-content h2,.resume-content2 h2{font-size:0.9rem;}
.resume-content>li{width:100%;background: #fff;margin-top:0.5rem;overflow: hidden}
.resume-item-inner,.company-class{background: url("../img/icon_arrow_gray.png")right center no-repeat;background-size: 1.2rem;}
.resume-item-inner,.resume-item-inner2{margin:1rem;overflow: hidden;}
.resume-item-inner>div,.resume-item-inner2>div:first-child{float: left;width:25%;height:100%;}
.resume-item-inner>div>h2{color:#666;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.resume-item-a>ul,.regist-item-right{float:left;width: 74%!important;}
.regist-item-right>div{width:100%;background: url("../img/icon_arrow_gray.png")right center no-repeat;background-size: 1rem;font-size:0.9rem;color:#bbb;height:1.5rem;}
.regist-item-right>ul>li{margin-bottom: 0.5rem;}
.regist-item-right>ul>li>p{font-size:0.7rem;color:#bbb;margin-top:0.2rem;}
.resume-item-b>ul{float:left;width: 74%!important;}

/*新增部分*/
.resume-button{width:100%;overflow: hidden;}
.resume-button li{float:left;width:50%;text-align: center;}
.resume-button li button{width:90%;height:2.5rem;border:none;}
.resume-button li:last-child button{background:#5cce49;color:#fff;}

.resume-item-b ul>li{float:left;font-size:0.7rem;height:1.2rem;line-height: 1.2rem;padding:0 0.3rem;background:#5cce49;color:#fff;border-radius: 3px;margin:0.3rem;}
.resume-content2{background: #fff;padding:0.3rem 0;margin:0.5rem 0;}
.resume-content2>li input{height: 1rem;border: none;font-size:0.9rem;width:100%;}
.resume-bottom-line{border-bottom: 1px solid #bbb;float:left;width: 74%;padding:1px 0;margin-top:-3px;}
.company-class{height: 1.5rem;line-height: 1.5rem;}
.company-class>span{font-size: 0.9rem;color:#b6b6b6}
.skill-text{width:100%;height:100%;background:rgba(0,0,0,0.6);position: fixed;top:0;left:0;}

.company-select-inner{width:90%;margin:5rem auto;text-align: center;background: #fff;padding:0.3rem 0;}
.company-select-inner>h2{height:2.5rem;line-height: 2.5rem;}
.company-select-inner>ul{margin-top:0.5rem;}
.company-select-inner>ul>li{height:2.5rem;line-height:2.5rem;font-size:0.9rem;color:#333;}
.company-class-active{background: #5cce49;color:#fff!important;}

.work-experience,.education-experience,.work-experience2,.education-experience2，.skill-experience{width: 100%;height: 100%;background: #efefef;position: fixed;top:0;left:0;}
.company-class-save{display:block;width:80%;height: 2.5rem;background: #5cce49;color:#fff;border:none;margin:1rem auto;}

.skill-experience-bg{width:100%;padding:1rem 0;background: #fff;overflow: hidden}
.skill-experience-inner{margin:0rem 1rem;}
.skill-experience-inner>p{font-size:0.8rem;color:#bbb;}
.skill-experience-inner>ul{margin-top:0.5rem;overflow: hidden}
.skill-experience-inner>ul>li{float:left;font-size:0.7rem;width:46%;height:1.8rem;line-height:1.8rem;color:#fff;margin:0.3rem;background: #5cce49;border-radius: 3px;text-align: center;margin-bottom: 0.5rem;position: relative;}

.skill-experience-inner>ul>li>span{position:absolute;left:0;top:0;width:100%;height: 100%;background: rgba(0,0,0,0.6);border-radius: 3px;display: none;}
#add-skill{background: none;border:1px dashed #bbb;color:#5cce49;font-size: 1.2rem;height: 1.7rem;text-align: center;width:60%;margin:0.5rem auto;}

.skill-text-inner{width:80%;padding:1rem;background: #fff;margin:5rem auto;}
.skill-text-inner>h2{text-align: center}
.skill-text-input{margin-top:1rem;border:1px solid #bbb;}
.skill-text-input>input{width: 92%;font-size: 0.9rem;border:none;}

.skill-text-sure{border-top:1px solid #bbb;margin-top:1rem;height:1.5rem;line-height: 1.5rem;padding:0.5rem 0}
.skill-text-sure>span{display:inline-block;width:48%;text-align: center;font-size:0.9rem;}
.skill-text-sure>span:first-child{color:#666;border-right:1px solid #bbb;}
.skill-text-sure>span:last-child{color:#5cce49;}
.resume-class-selecting{width:100%;height:100%;background:rgba(0,0,0,0.6);position: fixed;top:0;left:0;}
.skill-save,.entrepreneurship-save{display:block;background: #5cce49;color:#fff;height: 2.5rem;text-align: center;width:60%;margin:1.5rem auto;border: none;}

/*创业方向*/
.entrepreneurship{width: 100%;height: 100%;background: #efefef;position: fixed;top:0;left:100%;}
.entrepreneurship-inner{width:100%;background: #fff}
.entrepreneurship-inner>p{height: 2.5rem;line-height: 2.5rem;margin-left:1rem;}
.entrepreneurship-inner>ul{margin-left:1rem;margin-right:0.3rem;overflow: hidden}
.entrepreneurship-inner>ul>li{float:left;font-size:0.7rem;width:22%;height:1.5rem;line-height:1.5rem;margin-right:0.3rem;text-align: center;margin-bottom: 0.5rem;border-radius: 3px;color:#666;border:1px solid #bbb;}
.entrepreneurship-active{background: #5cce49;border:1px solid #5cce49!important;color:#fff!important;}

.resume-save{display:block;width:70%;height:2.5rem;color:#fff;background:#5cce49;border:none; margin:1rem auto;}

/*融资 技术外包 推广 众筹*/
/*common------start*/
/*列表*/
.common-innerbox{margin:0.5rem 1rem;overflow: hidden;}
.common-innerbox img{width: 5rem;}
.common-left{float:left;width:22%}
.common-right{}
.common-right{float:right;width:76%;}
.common-right>h2{text-overflow: ellipsis;white-space: nowrap!important;overflow: hidden;}
.common-right>p{overflow: hidden;margin:0.4rem 0;text-align: right}
.common-right>div span,.common-right>p{font-size:0.7rem;color:#999;}
.common-right>div span:first-child,.project-right>div span:first-child{float:left;}
.common-right>div span:last-child,.project-right>div span:last-child{float:right;}
.common-right>div span:first-child,.project-right>div span:first-child,.talent-right>div span:first-child{padding-left:1.2rem;background: url("../img/icon_location.png")left center no-repeat;background-size:0.9rem;}

/*详情*/
.common-bg{background: #fff;width: 100%;overflow: hidden;padding:0.1rem 0;margin-bottom: 0.5rem;}
.common-content-inner{margin:0.5rem 0.75rem;}
.common-content-inner>h2{font-size:1rem;color:#333;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.common-content-inner>ul{margin-top:0.75rem;border-top:1px solid #bbb;height:2rem;line-height: 2rem;}
.common-content-inner>ul>li{float:left;font-size:0.7rem;color:#bbb;width:31%;text-align: center}
.common-content-inner>ul>li{text-align: left;}
.common-content-inner>ul>li:last-child{text-align: right;}
.common-file>h2{font-size:0.9rem;color:#333;hight:2rem;line-height: 2rem;border-bottom: 1px solid #bbb;}
.common-file>p{margin-top:0.3rem;text-align: justify;}
.common-foot{position: fixed;left:0;bottom: 0;width:100%;height:3rem;background: #fff;border-top:1px solid #bbb;}
.common-foot>ul>li{float:left;width:49%;text-align: center;font-size:0.9rem;color:#333;height: 1.5rem;line-height: 1.5rem;margin-top:0.75rem;}
.common-foot>ul>li:first-child{border-right:1px solid #bbb;}
.common-foot>ul>li>span{display: inline-block;padding-left:1rem;background: url("../img/icon_star_pre.png")left center no-repeat;background-size: 1rem;}


.common-right-b>div{overflow: hidden}
.common-right-b>div>h2{float:left;width:80%;text-overflow: ellipsis;white-space: nowrap!important;overflow: hidden;}
/*认证*/
.havesure{float:right;width:18%;height:1rem;line-height:1rem;background: #5cce49;font-size:0.6rem;color:#fff!important;text-align: center;}
.notsure{float:right;width:18%;height:1rem;line-height:1rem;background: #666;font-size:0.6rem;color:#fff!important;text-align: center;}

.common-star{overflow: hidden;margin:0.5rem 0;}
.common-star>b{float:left;font-size:0.8rem;color:#999;}
.common-star>ul{float:left;}
.common-star>ul>li{float:left;width:1rem;height:1rem;marggin-right:0.3rem;background: url("../img/icon_star_pre.png")center no-repeat;background-size: 1rem;}
.common-star>p{float:right;font-size:0.8rem;color:#999;text-align: right;}
.common-content-inner>div>h2{float:left;width:80%;}
.common-content-inner>div:first-child{overflow: hidden;}
.common-location{padding-left:1rem;background: url("../img/icon_location.png")left center no-repeat;background-size: 0.9rem;}

/*common------end*/
/*首页 新增二级页面 办公室 注册 。。。*/
/*common-----start*/
.common-index-bg{width: 100%;background: #fff;padding:0.3rem 0;}
.index-common-header{margin-top:-4px;}
.index-common-innner{margin:1rem;}
.index-common-header h2{font-size:1.1rem;font-weight: bold;}
.index-common-note{border-bottom: 1px solid #bbb;padding:1rem 0;}
.index-common-note>p{font-size:0.8rem;color:#999;}
.index-common-price>div{padding:1rem 0;}
.index-common-price>div>span{color:#f70707;}
.index-common-price>ul{overflow: hidden;}
.index-common-price>ul>li{float:left;width:49%;font-size:0.9rem;color:#7a7879;}
.index-common-price>ul>li:last-child{text-align: right;border-left:1px solid #bbb;}
.index-connon-content{margin-top:0.5rem;}
.index-connon-content>div>h2,.contract-content-title{text-align: center;font-weight: bold;height:3rem;line-height:3rem;border-bottom:1px solid #bbb;}
.index-content-office{background: url("../img/index_img_1.png")1rem 1rem no-repeat;background-size: 16px;padding:0.5rem 0;}
.index-content-contract{background: url("../img/index_img_4.png")1rem 1rem no-repeat;background-size: 16px;padding:0.5rem 0;}



.index-content-process ul li div{width: 100px;height:34px;line-height:34px;background: url("../img/index_img_2.png")center no-repeat;background-size: 100px;text-align: center;color:#fff;font-size:0.9rem;}
.index-content-process ul{margin:1rem 0 0 2.8rem;}
.index-content-process ul li{margin-bottom: 20.5px;height:50px;}

.index-content-process ul li p{padding-left:1rem;font-size:0.8rem;height:2rem;}
.index-content-class{margin:1.5rem;overflow: hidden}
.index-content-class li{border-bottom:1px solid #bbb;overflow: hidden;padding:0.5rem 0;}
.index-content-class li span{float:left;width:30%;font-size:0.9rem;height:2rem;line-height:2rem;border-right:1px solid #bbb;margin-top:1rem;}
.index-content-class li p{float:left;margin-left:0.5rem;width:65%;margin-top:1rem;}
.contract-seivice-process>ul{overflow: hidden;}
.contract-seivice-process>ul>li{float:left;width:33%;text-align: center;}
.contract-seivice-process>ul>li>p{text-align: center;font-size:0.7rem;}
.index-content-rigist ul{overflow: hidden;}
.index-content-rigist ul li{float:left;width:16%;margin:0rem 2%;text-align: center;}
.index-content-rigist ul li h2{font-size:0.8rem;}
.index-content-rigist ul li p{font-size:0.7rem;}
.index-content-class2 li{overflow: hidden;padding:1rem 0;border-bottom: 1px solid #bbb;}
.index-content-class2 span{float:left;font-size:0.9rem;width:30%;border-right:1px solid #bbb;}
.index-content-class2 p{float:left;margin-left:1rem;}
.index-copyright-box1{float:left;width:49%;overflow: hidden;}
.index-copyright-box1>h2{fon-size:0.9rem!important;}
.index-copyright-box2 h2{font-weight: normal!important;font-size:0.9rem!important;height: 1.5rem;}
.index-copyright-box2{float:left;width:40%;overflow: hidden;padding-left:1rem;border-left:1px solid #bbb;}
.index-office-inner div{padding:1rem 0;border-bottom:1px solid #bbb;}
/*代理记账*/
.accounting-content ul{overflow: hidden;}
.accounting-content ul li{float:left;width:24%;}
.accounting-content ul li p{text-align: center;font-size:0.7rem;}
.index-content-class3{width:90%;margin:0 auto;}
.index-content-class3>li{overflow: hidden;padding:1rem 0;border-bottom: 1px solid #bbb;}
.index-content-class3>li>span{float:left;width:45%;padding-left:1.2rem;}
.index-content-class3>li>p{float:left;padding-left:1rem;width:40%;border-left:1px solid #bbb;}
.index-content-class3>li i{font-size:0.7rem;}
.icon_account_a{background: url("../img/icon_account_%20(1).png")left center no-repeat;background-size: 1rem;}
.icon_account_b{background: url("../img/icon_account_%20(2).png")left center no-repeat;background-size: 1rem;}
.icon_account_c{background: url("../img/icon_account_%20(4).png")left center no-repeat;background-size: 1rem;}
.icon_account_d{background: url("../img/icon_account_%20(5).png")left center no-repeat;background-size: 1rem;}
.index-content-law{background: url("../img/index_img_3.png")1rem 1rem no-repeat;background-size: 16px;padding:0.5rem 0;}
/*合伙人协议*/
.index-content-agreement ul{width:90%;margin:0 auto;}
.index-content-agreement ul li{padding:0.5rem 0;padding-left:1.5rem;background-size: 1rem;}
.index-content-agreement ul li p{padding:0.5rem 0;border-bottom: 1px solid #bbb;}

.agreement-a{background: url("../img/icon_num.png")left 1.2rem no-repeat;}
.agreement-b{background: url("../img/icon_num_2.png")left 1.2rem no-repeat;}
.agreement-c{background: url("../img/icon_num_3.png")left 1.2rem no-repeat;}
.color-red{color:#f70707}

/*人事*/
.hr-content ul li{padding: 1rem 0;overflow: hidden;}
.hr-content ul li div{float:left;width:30%;font-size:0.8rem;}
.hr-content ul li p{float:right;width:69%;font-size:0.8rem;}
.index-common-price b{margin-left:1rem;display:inline-block;width:5rem;height:1.5rem;line-height:1.5rem;background: #5cce49;border-radius: 3px;color:#fff;text-align: center;font-size:0.9rem;}

/*注册公司*/
.regist-footer h2,.regist-footer2 h2{text-align: center;font-weight: bold;height: 3rem;line-height: 3rem;border-bottom: 1px solid #bbb;}
.regist-footer ul{margin-top:2rem;}
.regist-footer li{overflow: hidden;padding:0.5rem 0;margin-bottom: 0.5rem;border-bottom: 1px solid #bbb;}
.regist-footer li div:first-child{float:left;width:49%;height:3rem;border-right:1px solid #bbb;}
.regist-footer li div:last-child{float:right;width:49%;text-align: center;color:#f70707;height:3rem;line-height: 3rem;}
.regist-footer li div:first-child p{height: 1.5rem;line-height: 1.5rem;padding-left:1.5rem;}
.regist-icon-a{background: url("../img/icon_account_%20(3).png")left center no-repeat;background-size: 1rem;}
.regist-icon-b{background: url("../img/icon_account_%20(5).png")left center no-repeat;background-size: 1rem;}

.regist-footer2 ul{overflow: hidden;border-bottom: 1px solid #5cce49;}
.regist-footer2 ul li{float:left;width:32%;text-align: center;height: 3rem;line-height: 3rem;}
.regist-footer2-active{border-bottom: 0.2rem solid #5cce49;height:2.8rem;line-height: 2.8rem;}

.regist-footer2-txt{width:90%;margin:2rem auto;}
.regist-footer2-txt p{color:#333;}
.regist-bottom{text-align: center;height: 3rem;line-height: 3rem;color:#333;border-top:1px solid #bbb;}
/*common-----end*/