@CHARSET "UTF-8";
html,body,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,table,th,td,fieldset,form,input,select,textarea,hr,blockquote,pre{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;line-height:2;}
ul,ol,dl{list-style:none;}
html{overflow-y:scroll;background-color:#fff;}
body{color:#333;font:12px/1.7 Verdana,Arial,"\5b8b\4f53";}

h1,
h2{font:bold 30px/2 Arial,"\5fae\8f6f\96c5\9ed1";}
h1{margin-bottom:10px;}
h1 em{padding-left:0.5em;font-size:18px;}
h2{font-size:18px;}

a{color:#347ebf;text-decoration:none;}
a:hover{text-decoration:underline;}

code{margin:0 3px;padding:0 5px;border:1px solid #ddd;border-radius:3px;background:#f8f8f8;font-family:Consolas,Monaco,Courier,"Courier New";}


form.formular,
.validationEngineContainer{margin-top:10px;padding:20px;border:1px solid #A5A8B8;border-radius:3px;background:#f3f3f3;font-family:verdana,"sans-serif";font-size:12px;}
.formular fieldset{margin-bottom:15px;padding:15px;border:1px solid #B5B8C8;border-radius:3px;}
.formular legend{color:#15428B;font-size:12px;font-weight:bold;}
.formular label{display:block;margin-bottom:4px;}
.formular code{display:block;margin:0 0 10px 0;padding:3px 5px;}
.formular code:last-child{margin-bottom:0;}
.formular input,
.formular select,
.formular textarea{display:block;/* this breaks relative positioning */}
.formular select{margin-bottom:10px;padding:4px;border:1px solid #B5B8C8;border-radius:3px;}
.formular .text-input{margin-bottom:10px;width:300px;padding:4px;border:1px solid #B5B8C8;border-radius:3px;background:#FFF;color:#555;font-size:14px;}
.formular textarea{width:300px;height:70px;margin-bottom:10px;padding:4px;border:1px solid #B5B8C8;border-radius:3px;background:#FFF;color:#555;font-size:14px;}
.formular .tips{margin-bottom:10px;color:#777;}
.formular .infos{margin-bottom:10px;padding:10px;background:#FFF;color:#333;font-size:12px;}
.formular span.checkbox,
.formular .checkbox,
.formular .radio{display:inline;margin:0 5px 0 0;padding:0;vertical-align:-2px;*vertical-align:middle;}
.formular .submit{margin-top:20px;padding:4px 9px;border:none;border-radius:3px;background:#347ebf;box-shadow:0 1px 2px #347ebf;color:#fff;text-decoration:none;cursor:pointer;}
.formular hr{clear:both;visibility:hidden;}
.formular .fc-error{width:350px;color:#555;margin-bottom:15px;padding:4px;border:1px solid #B5B8C8;background:#FFEAEA;font-size:12px;}
/*.formular input[data-prompt-position="inline"]{display:inline;}*/
.footnote{color:#666;font-size:11px;font-style:italic;}
.prompt-target{min-height:21px;border:1px dotted #666;}
.inline-prompts label > span{display:inline-block;width:250px;}
.inline-prompts .text-input+.formError{margin-left:10px;}
.prompt-summary .inline{display:block;}


.form_add{zoom:1;}
.form_add:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.form_add dt{float:left;padding:5px;clear:left;text-align:right;}
.form_add dd{float:left;padding:5px;*float:none;}
.form_add .tip{padding:0;color:#777;}

.wrap{width:1000px;margin:0 auto;}
.wrap:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0;}
.side{float:left;width:220px;}
.main{float:right;width:760px;}

.about{overflow:hidden;padding:0 5px 10px 5px;}
.about dt{font:bold 18px/2 Arial,"\5fae\8f6f\96c5\9ed1";}
.about dd{float:left; margin-right:10px; padding-right:10px;border-right:1px solid #ddd;}
.about dd:nth-last-child(1){padding-right:0;border-right-width:0;}

.nav dl{list-style-type:none;font-size:14px;line-height:20px;}
.nav dt{position:relative;padding:5px;font:bold 12px/20px Arial,"\5fae\8f6f\96c5\9ed1";cursor:pointer;}
.nav dt:after{content:'';position:absolute;top:14px;right:10px;width:0;height:0;border:5px solid transparent;border-top-color:#ddd;}
.nav dt:hover{background:#f9f9f9;}
.nav dd{padding:5px;border-top:1px dashed #ddd;}
.nav dd:hover{background:#f3f3f3;}
.nav dd.n{border-top-style:solid;border-top-color:#ccc;background:#e3e3e3;}
.nav dd.n + li{border-top-style:solid;border-top-color:#ccc;}
.nav span{display:none;color:#777;font-size:12px;}

.navmin{overflow:hidden;height:30px;border-bottom:1px solid #ddd;}
.navmin dt:after{top:12px;right:8px;border-top-color:transparent;border-left-color:#ddd;}

.intro{ font-size:14px;}

.apicon{overflow:hidden;font:12px/16px Arial;}
.apicon a{float:left;margin:10px 10px 0 0;padding:5px 10px;border:1px solid #ddd;border-radius:3px;color:#333;}
.apicon a:hover{border-color:#347ebf;background:#ebf2f9;color:#347ebf;text-decoration:none;}
.apicon a:active{box-shadow:inset 0 0 3px #347ebf;}

.test{width:60%;margin:10px 0 0 0;padding:5px 10px;border-radius:3px;background:#f3f3f3;color:#333;}

.user_form dt{width:80px;line-height:26px;}
.user_form dd{width:300px;}
.user_form label{display:inline;margin-bottom:0;}
.user_form select,
.user_form .text-input{display:inline-block;margin-bottom:0;vertical-align:top;}
.user_form .text-input{width:200px;}
.user_form .formErrorContent{padding-left:10px;line-height:26px;}